.leftNav{
    // right: 10px;
    width:320px;
    padding-top:20px;
    // height:100vh;
    background-color:#FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    .hotArticle{
        color: #8590a6;
        margin-top:10px;
      
        .article{
            // width:100%;
            padding: 5px 30px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            // font-size: 12px;
            cursor: pointer;
            &:hover {
                background-color: rgba($color: #ffffff, $alpha: 0.5);
            }
        };
        .timeLine{
            padding: 5px 30px;
            display: flex;
            align-items: center;
        }
        
    };
    .lables{
        color: #8590a6;
        margin-top:10px;
        display: flex;
        flex-wrap: wrap;
        padding:0 25px;
        justify-content: center;
        .item{
            font-size: 12px;
            margin:2px 5px;
            cursor: pointer;
        }
    };
  
    
}