.article-detail{
    background-color: #FFF;
	min-height:100vh;
	padding-top:60px;
	display:flex;
    .content_header{
		padding:20px;
    	font-size: 20px;
    	font-weight: 700;
    	margin-left:10px;
    	border-bottom: solid #eee 1px;
    	.title{
    		 margin-left: 15px;
    	}
    	.articleInfo{
	        display: flex;
	        align-items: center;
	        color:#98a6ad;
	        .item{
	            display:flex;
	            align-items:center;
	            font-size: 12px;
	            margin-left: 15px;
	            img{
	                width: 15px; 
	                height: 15px; 
	                margin-right: 5px;
	            }
	        }
	    }
    }
	.sider_left{
		width:250px;
		padding-left: 10px;
		right:22px;
		height:100%;
	}
}