@import "../../styles/markdown.scss";

.article-detail{
    background-color: #FFF;
   	height:100%;
	padding:20px;
	overflow: scroll;
    .header{
    	font-size: 20px;
    	font-weight: 700;
    	margin-left:10px;
    	border-bottom: solid #eee 1px;
    	.title{
    		 margin-left: 15px;
    	}
    	.articleInfo{
	        display: flex;
	        align-items: center;
	        color:#98a6ad;
	        .item{
	            // line-height:1;
	            display:flex;
	            align-items:center;
	            font-size: 12px;
	            margin-left: 15px;
	            img{
	                width: 15px; 
	                height: 15px; 
	                margin-right: 5px;
	            }
	        }
	    }
    }

}