 input::-webkit-input-placeholder {       
    color: #aab2bd;        
    font-size: 12px;       
    text-align: center;
}
.menu_hover:hover{
    background-color:rgba(0,0,0,0.3);
}
.container{
    width:100%;
    margin:0 auto;
    overflow-y: scroll;
}
.content{
    // width:100%;
}



