 input::-webkit-input-placeholder {       
    color: #aab2bd;        
    font-size: 12px;       
    text-align: center;
}
.menu_hover:hover{
    background-color:rgba(0,0,0,0.3);
}
.container{
    width:100%;
    height:100vh;
    margin:0 auto;
    overflow: scroll;
}
.content{
    
    // display: flex;
    width:100%;
    // padding-top:60px;
   min-height:100vh;
    margin:0 auto;
    // flex:1;
    // height: 100%;
    max-width:1500px;
    // overflow-x: hidden
}

.article-wrapper{
    position: relative;
    margin-left: 280px;
    min-height: 100vh;
    height:100%;
    border-right: solid #e8e8e8 1px;    
    // background-color:red
}


